bucket_name        = "my-backup-bucket-name" # Name of the S3 bucket for storing artifacts
expiration_days    = 30                         # Number of days to retain artifacts
repository_version = "enabled"                  # Versioning configuration for the S3 bucket
region             = "region"             # AWS Region
account_id         = ""             # Your AWS Account ID

repositories = {
  ""  = []
  "" = []
}
